[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

dj-database-url = "*"
django = "*"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
"boto3" = "*"
pillow = "*"
django-storages = "*"


[requires]

python_version = "3.6"
