{% extends "images/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <h1>Django images with storages demo</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/itamaro/django-storages-boto3-demo">Heroku Button</a> on the repository.</li>
        <li>When Heroku received the source code, it fetched all the dependencies in the <a href="https://github.com/itamaro/django-storages-boto3-demo/blob/master/Pipfile">Pipfile file</a>, creating a deployable slug.</li>
        <li>The platform then spins up a dyno, a lightweight container that provides an isolated environment in which the slug can be mounted and executed.</li>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    {% for image in images %}
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="{{ image.photo.url }}" alt="{{ image.name }}" style="width:100%">
        <div class="caption">
          <p>{{ image.name }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
